* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 1024px;
  margin: 0 auto;
}

.container h1 {
  width: 100%;
}

.container .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .left-side input {
  margin-top: 10px;
}

#first-btn {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: yellow;
}

#first-btn:focus {
  outline: none;
}
